<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primera página web</title>
</head>
<body> 
    <h1>¡Hola! {{nombre}}!!! como estas?</h1>-->
    <!--<h1>Servicios Disponibles:</h1>
    <ul>
{% for servicio in servicios %}
<li>{{ servicio }}</li>
{% endfor %}
</ul>-->
<!--<p>Fecha y hora actual: {{ ahora }}</p>-->
<!--<h1>Datos del Paciente</h1>
<p>Nombre: {{ paciente.nombre }}</p>
<p>Edad: {{ paciente.edad }}</p>
<p>Servicio: {{ paciente.servicio }}</p>
<p>Fecha de atención: {{ paciente.fecha }}</p>-->
<!--<h1>Lista de Pacientes</h1>
<table border="1">
    <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Servicio</th>
   </tr>
   {% for paciente in pacientes %}
   <tr>
        <td>{{ paciente.nombre }}</td>
        <td>{{ paciente.edad }}</td>
        <td>{{ paciente.servicio }}</td>
   </tr>
   {% endfor %}
</table>-->
</body>
</html>